@using RectangleProblem.Controllers

@model RectangleProblem.Models.Rectangle.SolutionRectanglesDisplay

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-danger pull-left" href="@Url.Action(RectangleController.UploadActionName, RectangleController.RectangleControllerName)">
            <i class="glyphicon glyphicon-chevron-left"></i>
            &nbsp;Back
        </a>
    </div>
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading">Uploaded Rectangles</div>
    <div class="panel-body">
        <canvas id="uploaded-rectangles" height="200"></canvas>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Solution Rectangles</div>
    <div class="panel-body">
        <canvas id="solution-rectangles" height="200"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(RectangleController.DownloadSolutionActionName, RectangleController.RectangleControllerName, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            for (int i = 0; i < Model.SolutionGrid.RectangleList.Count; i++)
            {
                @Html.Hidden(string.Format("RectangleInputList[{0}].RectangleId", i), Model.SolutionGrid.RectangleList[i].RectangleId)
                @Html.Hidden(string.Format("RectangleInputList[{0}].Width", i), Model.SolutionGrid.RectangleList[i].Width)
                @Html.Hidden(string.Format("RectangleInputList[{0}].Height", i), Model.SolutionGrid.RectangleList[i].Height)
                @Html.Hidden(string.Format("RectangleInputList[{0}].X", i), Model.SolutionGrid.RectangleList[i].BottomLeftCoordinate.X)
                @Html.Hidden(string.Format("RectangleInputList[{0}].Y", i), Model.SolutionGrid.RectangleList[i].BottomLeftCoordinate.Y)
            }
            <button type="submit" class="btn btn-primary pull-right">
                Download
                <i class="glyphicon glyphicon-cloud-download"></i>
            </button>
        }
    </div>
</div>

@section PageScripts
{
    <script src="../../Scripts/randomColor.js"></script>
    <script src="../../Scripts/PageScripts/rectangle.js"></script>
    <script>
        var inputGrid = @(Html.Raw(Json.Encode(Model.InputGrid)));
        var solutionGrid = @(Html.Raw(Json.Encode(Model.SolutionGrid)));
        $(document).ready(function() {
            draw("uploaded-rectangles", inputGrid, false);
            draw("solution-rectangles", solutionGrid, true);
        });
    </script>
}